<ul>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/assets/pdf/resume.pdf' | prepend: site.baseurl | prepend: site.url }}">Resumé</a><span>/</span>
	</li>
	<li>
		<a href="{{ site.harmony.social.github | prepend: 'https://github.com/' }}">Github</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/faq' | prepend: site.baseurl | prepend: site.url }}">FAQ</a><span>/</span>
	</li>
</ul>
